@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
table {
    font-family: 'Kanit', sans-serif;
    border-collapse: collapse;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
    
}
td,th {
    border: 1px solid #5DADE2;
    text-align: center;
    padding: 8px;
}
img{
    width: 300px;
    border: 3px solid white;
    border-radius: 5px;
    
    box-shadow: 5px 5px 5px #888888;
}

