nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.logo{
    margin-right: auto;
    padding-left: 10px;
    color: blue;
    
}
a{
    color: darkblue;
    text-decoration: none;
    margin: 12px;
    font-size: 18px;
    padding: 10px;
}